<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <small>
        <%= link_to "#{@map.background} #{@map.x}x#{@map.y}x#{@map.z}", edit_map_path(@map) %>
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="pre-scrollable map-view">
        <div id="map" class="w-100 h-100" <%= "data-map=#{@map.to_json}" %>></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="h3">Hex</div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <div class="h3">Episodes</div>
    </div>
    <div class="col-4">
      <div class="h3">Treasures</div>
    </div>
    <div class="col-4">
      <div class="h3">Monsters</div>
    </div>
  </div>
</div>



