<p id="notice"><%= notice %></p>

<h1>Seriously High Fantasy</h1>

<table>
  <thead>
    <tr>
      <th>Links</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @welcomes.each do |welcome| %>
      <tr>
        <td><%= link_to welcome.title, public_send(:"#{welcome.link}_path") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
